/* Bike component styles */
.bike {
  border-radius: 5px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .bike {
    max-width: 40px;
  }
}

@media (max-width: 480px) {
  .bike {
    max-width: 32px;
  }
}
